/* *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.profileImage{
	font-size: 120px;
    color: grey;
    padding: 1rem  0 0 7rem;

}

.form-group{
	font-size: 0.8rem;
}

.name{
	position: relative;
	top: 3.5rem;
	left: 2rem;
}

.form-control{
	margin-left: 9.2rem;
	font-size: 0.8rem;
	margin-top: 2rem;
	width: 20rem;
	height: 2rem;
	padding: 1rem;
	border: 2px solid lightgrey;
	border-radius: 0.25rem;
}

.form-control1{
	font-size: 0.8rem;
	width: 20rem;
	height: 2rem;
	padding: 1rem;
	border: 2px solid lightgrey;
	border-radius: 0.25rem;
	margin-top: 0.5rem;
	margin-left: 4rem;

}


.role{
	font-size: 0.8rem;
	position: relative;
	top: 0.8rem;
	margin-bottom: 12px;
	margin-left: 2rem;
}


.exp{
	font-size: 0.8rem;
	margin-left: 2rem;
}
.exp span{
	color: grey;
}

.role-fields{
	color: lightgrey;
	border-width: 1rem;
	margin-top: -1.5rem;
	margin-left: 9.2rem;
}

.msl-vars {
    --menu-max-height: 400px;
    --input-width: 300px;
    --font-size: 16px;
    --border-radius: 8px 8px 8px 8px;
    /* --active-menu-shadow: 43px 1px 5px 0px grey; */
     /*--line-height: 1.4;
    --active-menu-background: #fff;
    --active-menu-radius: var(--border-radius);
}

.msl:not(.msl-active,.msl-active-up) {
    border-width: 2px;
    border-color: lightgrey;
}

.insert-image-input {
	display: none;
}



.insert-image{
	background-color: #04537d;
    width: 300px;
    margin-left: 8rem;
    margin-top: 2rem
}

.resumeImage {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-left: 6rem;
}

.invalid{
	border: 1px solid red !important;
}

.form-group1 .text-danger{
	position: relative;
	top: 1rem;
	right: 27rem;
	font-size: 0.7rem;
}

.form-group .text-danger{
	position: relative;
	left: 3.7rem;
	bottom: 1rem;
}

.role-fields .text-danger{
	position: relative;
	right: 26rem;
	bottom: 3rem;
	font-size: 0.7rem;
}

.roles{
	border: 2px solid lightgrey;
	border-radius: 0.25rem;
	width: 20rem;
}

.option1{
	background-color: grey;
}  */


.boxRole input{
	border: 2px solid lightgrey;
	border-radius: 27px;
	width: 120px;
	height: 40px;
	position: relative;
	left: 7rem;
	margin-right: -0.3rem;

	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	padding: 1rem;
}

.roleEdit{
	font-size: 0.8rem;
	position: relative;
	top: 1.8rem;
	margin-left: 2rem;

}

.cross{
	position: relative;
	left: 5rem;
	top: 0.1rem;
	font-size: 25px;
    color: lightgrey !important;
}

.Proles{
	border: 2px solid lightgrey;
	border-radius: 0.25rem;
	width: 20rem;
	margin-bottom: 1rem;
	margin-top: 1rem;

}

