/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.template{
	width: 42%;
	border-left: 2px solid lightgrey;
	top: 0;
    bottom:0;
    position:fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	right: 0;
	margin-top: -1rem;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}


.row{
	box-sizing: border-box;
	padding: 2rem 0 0 0.5rem;
	
}

.column {
  float: left;
  width: 45%;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 2rem;
}

/* .column1{
  float: left;
  width: 100%;
  padding-right: 22.5rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
} */

/*.row:after {
  content: "";
  display: table;
  clear: both;
}

.header h2{
	font-weight: 600;
	color: #04537d;
	font-size: 1.6rem;
	margin-top: -6rem;
}

.template h6{
	font-size: 11px;
	color: #04537d;
	font-weight: 700;
	border-bottom: 2px solid #04537d;	
	padding-bottom: 0.25rem;	
} 

.header h5{
	font-size: 11px;
	color: black;
}

.header{
	padding: 0 0 0 8rem;  
}

 
.col{
	padding-right: 2rem;
	margin-left: -1rem;
}



.col h5{
	font-size: 16px;
	margin-left: 0.5rem;
}

.tech-stack-output input{
	border: 2px solid lightgrey;
	width: 87px;
	height: 1.5rem;
	font-size: 0.75rem;
	padding: 0.7rem 1rem 0.7rem 1rem;

	border-radius: 25px;
	margin-bottom: 0.25rem;
	margin-left: 0.5rem;
}

.row p{
	margin-bottom: 0.4rem;
	font-size: 0.8rem;
	padding-left: 0.5rem;
}

.row ul{
	font-size: 0.8rem;
}

.imageTemplate{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: -7rem;
    margin-top: 3rem;

}*/



