/* *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.sidebar{
  width: 15%;
  height: 100vh;
  background-color: #397394;
  position: fixed;
}

.sidebarHeader{
	width: 100px;
	height: 100px;
}
.sidebarHeader{
	font-size: 2rem;
	padding: 0 0 0 0.5rem;
}

.title{
	font-size: 1.5rem;
	padding-left: 1rem;
	color: #020000;
}

.title1{
	font-size: 1.5rem;
	padding-left: 3.5rem;
	padding-bottom: 1.2rem;
	color: #000000;
	line-height: 1rem;
}

.barSection{
	display: flex;
	justify-content: space-around;
	margin: 0 0 0.8rem 0.5rem;	
}

.icons{	
	font-size: 1rem;		
}
.dots{
	font-size: 1.5rem;
	color: lightgrey;
	margin-top: -0.5rem;
}
.sidebar-links a{
  text-decoration: none;
  color:black;
}
 .sidelinks-p{
  width: 100%;
  height: 43%;
  margin-bottom: 10px;
} 
.sidebar-links{
  width: 180px;
  height: 35px;
  font-size: 11px;
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: 0.25rem;
  background-color: rgb(248, 248, 248);
  padding: 0.5rem 0 0.5rem 0.3rem;
}

.table-sidebar{
  font-size: 10px;
}

 .sidebar-links i{
	 padding-right: 1rem; 
	/* line-height: 1rem; */
/* } 

.status{
	padding: 0 0.5rem 0 0.5rem;
	color: black;
}

.css-i4bv87-MuiSvgIcon-root{
	width: 1rem !important;
	height: 1rem !important;
}

.sidelinks-p :hover{
	background-color: #032c3b;
	transform: scale(1.1);
	color: white;
} */ 