*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.aboutSection{
	font-size: 0.8rem;
}

.textarea{
	margin: 35px 0 0 140px;
	border: 2px solid lightgrey;
	border-radius: 0.25rem;
	padding: 0.5rem;
	width: 350px;
}

.bulletPoints input{
	border: 2px solid lightgrey;
	border-radius: 0.25rem;
	margin: 11px 0 0 140px;
	width: 350px;
    height: 43px;
    padding: 1rem;
}
.bulletPoints i{
	font-size: 27px;
	padding-left: 0.25rem;
	color: lightgrey;

} 

.label{
	position: fixed;
	margin: 40px 0 0 5px;
}

.buttons{
	padding: 0.5rem 0 0 20rem;
}

.buttons .bt{
	width: 70px;
	height: 30px;
	border-color: transparent;
	border-radius: 20px;
	background-color: #E9D5DA;
	margin-left: 1rem ;
	margin-right: 0rem;
}

.buttons .button1{
	width: 45px;
	height: 25px;
	margin: 0 0 0 20px;
	color: black;
	background: linear-gradient(to right, #E9D5DA 50%, #827397 50%);
	border-color : #E9D5DA;
}

.button1 i{
	position: relative;
	bottom: 0.2rem;
}

.button2{
	border-color: transparent;
	background-color: transparent;
	margin: 0 10px 0 0;
	color: black;

}

.aboutSection .text-danger{
	position: relative;
	right: 31rem;
	
	bottom: 11rem;

}

.required{
	border: 2px solid red !important;
}

