*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.achievement{
    margin: 5rem 0 0 0;
    font-size: 0.8rem;
    
}

/* .achievement .desc{
    border: 2px solid lightgrey;
    border-radius: 0.25rem;
    margin-left: 4rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem 1rem 1rem;
}  */

.achievement input{
    border: 2px solid lightgrey;
    width: 23vw;
    height: 2.5rem;
    border-radius: 0.25rem;
    position: relative;
    align-items: center;
    bottom: 1.5rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 12rem;

}

.Ach{
    font-size: 27px;
    color: lightgrey;
    position: relative;
    left: 1rem;
    bottom: 1.5rem;

}
/* .achievement .certification-input{
    margin-left: 2.3rem;
    margin-top: 0.5rem;
} */

/* .achievement-name{
    width: 20vw;
    margin-top: 2rem;
}
*/

.certificate-name{
    margin-top: -2rem;
    
} 


.achievement .text-danger{
    position: fixed;
    left: 22rem;
}