*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.eduBackground{
    margin: 2rem 0 0 0;
}

.edu-field{
    margin: 0 0 0.8rem 0;
    font-size: 0.8rem;
}
.edu-field input{
    width: 22rem;
	height: 2rem;
	border: 2px solid lightgrey;
	border-radius: 0.25rem;
    padding: 1rem;
}

.eduName{
    margin-left: 4rem;
}

.eduLocation{
    margin-left: 3.1rem;
}
.edu-field .startDate{
    margin-left: 7.1rem;
    margin-right: 1rem;
    width: 10.5rem;

}

.edu-field .endDate{
    width: 10.5rem;
}

.edu-field .eduGrade{
    width: 21rem;
    margin-left: 6.3rem;
}

.dropdown{
    margin-left: 4.9rem;
    border: 2px solid lightgrey;
    border-radius: 0.25rem;
    width: 21.9rem;
}

.ebPercentage .text-danger{
    position: relative;
    right: 28rem;
    bottom: 0.3rem;
}

.ebDuration .text-danger{
    position: relative;
    left: 3.2rem;
    bottom: 2.1rem;
}

.ebName .text-danger{
    position: relative;
    left: 6rem;
    bottom: 2.2rem;
}

.ebType .text-danger{
    position: relative;
    left: 1rem;
}
