*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login {
    display: flex;
    height: 100vh;
    /* background: url(Images/bg.jpg) no-repeat fixed center / cover; */
}

.login h1{
    color: #04537d;
    margin: 3rem 0 0 25rem;

}

.user{
    border: 2px solid grey;
    margin-top: 13rem;
    margin-left: -46rem;
    width: 20rem;
    height: 20rem;
    background-color: whitesmoke;
    border-radius: 3rem;
    box-shadow: 7px 7px #4e6a79;
}

.user h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #04537d;
    text-align: center;

}

.manager h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #04537d;
    text-align: center;

}
.login img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 7rem;
}

.manager img{
    margin-left: 7rem;
}

.login button{
    width: 8rem;
    height: 3rem;
    border: 2px solid transparent;
    color: #04537d;
    border-radius: 25px;
    margin: 3rem 5.8rem;
    background-color: #2b7fac;
    color: black;
    font-size: 1rem;
    
}

.login button:hover{
    color: white;
    transform: scale(1.1);
    background-color: #04537d;

}

.manager{
    border: 2px solid grey;
    margin:13rem 0 0 4rem;
    width: 20rem;
    height: 20rem;
    border-radius: 3rem;
    background-color: whitesmoke;
    box-shadow: 7px 7px #4e6a79;
}

.groupName{
    color: #04537d;
    position: relative;
    margin-top: 6rem;
    right: 21.5rem;

}