@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.ManagerHome{
    margin: 1rem 2rem 1rem 2rem;
    font-weight: 400;
    font-family: 'open-sans';
    color: #4D4C7D;
}

.ManagerHeader .homeMenu{
    margin-top: -5rem;
    float: right;
    display: flex;
    flex-direction: row;
}
.ManagerHeader .homeMenu h6{
    margin-top: 0.5rem;
}


.ManagerHeader .homeNav{
    display: flex;
    flex-direction: row;
}

.ManagerHeader .homeMenu img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 1.1rem;
}

.ManagerHeader .search{
    margin-left: 15rem;
    border: 2px solid transparent;
    background-color: rgb(238, 236, 236);
    width: 20rem;
    height: 2.5rem;
    border-radius: 25px;
    padding: 1rem;
}

.ManagerHeader .endMenu{
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

.ManagerHeader .searchIcon{
    position: relative;
    left: -2rem;
    top: 0.4rem;
}

.managerButton{
    text-align: center;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.managerButton .m1{
    border: 2px solid transparent;
    width: 10rem;
    height: 3rem;
    border-radius: 25px;
    background-color:#E9D5DA;
    
}

.m1:hover{
    color:rgb(255, 253, 253);
    transform: scale(1.1);
    background-color: #827397;
    
}
.managerButton .m2{
    border: 2px solid transparent;
    width: 10rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #E9D5DA;
}

.m2:hover{
    color:white;
    transform: scale(1.1);
    background-color: #827397;
}

.managerButton .m3{
    border: 2px solid transparent;
    width: 10rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #E9D5DA;
}

.m3:hover{
    color:white;
    transform: scale(1.1);
    background-color: #827397;
}

.managerButton .m4{
    border: 2px solid transparent;
    width: 10rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #E9D5DA;
}

.m4:hover{
    color:white;
    transform: scale(1.1);
    background-color: #827397;
}

 .ManagerSection{
    border-top: 2px solid lightgrey;
    margin: 1rem 0rem 1rem 0;
}



.sectionManager1{
    margin: 2rem 0 2.5rem 1rem;

}
.Manager{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}

.Manager .card{
    border: 2px solid lightgrey;
    width: 18rem;
    height: 13rem;
    margin: 2.5rem 5rem 0 0;
    padding: 0.2rem 0.3rem;
    background-color: #E9D5DA;
    border-radius: 0.5rem;
    box-shadow: 4px 4px #888888;
}
.Manager .card img{
    width: 30px;
    height: 30px;
    margin-bottom: -0.5rem;
}
.Manager .card p{
    font-size: 0.5rem;
    margin-top: -0.5rem;
}

.Manager .cardUppr{
    border: 1px solid rgb(241, 236, 236);
    background-color: white;
    padding-bottom: -4rem;
    overflow-x: hidden;
	overflow-y: scroll;
    padding-left: 0.5rem;
    color: black;
    font-size: 0.6rem;
}

.Manager .cardUppr .managerName{
    margin-top: 0.5rem;    
}
.Manager .cardUppr .managerDes{
    margin-top: -0.4rem;    
}

.Manager .cardLower{
    padding-top: 0.5rem;
    margin-left: 0.7rem;
}
.Manager .cardLower h4{
    color: black;
}

.Manager .cardLower h6{
    font-size: 0.8rem;
    margin-bottom: -1.5rem;
}

.Manager .cardLower h5{
    border: 1px solid transparent;
    font-size: 0.6rem;
    background-color: #ffbff4;
    width: 3rem;
    height: 1rem;
    border-radius: 25px;
    padding-left: 0.7rem;
    padding-top: 0.1rem;
    margin-bottom: 0.5rem;
}

.homeNav img{
    width: 60px;
    height: 60px;
    margin-right: 2rem;
    margin-top: -0.8rem;
}


.Manager .dropbtn {
    color: #0e0000;
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: -1rem;
    width: 2rem;
    height: 1rem;
    background-color: transparent;
    border: none;   
}
  
.Manager .dpdown {
    position: relative;
    display: inline-block;
    left: 15rem;
    bottom: 6.5rem;
    width: 30px;
    height: 30px;
    background-color: none;
}
  
.Manager .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.Manager .dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.Manager .dropdown-content a:hover {background-color: #ddd;}
  
.Manager .dpdown:hover .dropdown-content {display: block;} 

.sign .sign1{
    border-color: transparent;
    background-color: #E9D5DA;
    color: rgb(80, 75, 75);
    margin-top: -0.5rem;
    font-size: 0.8rem;
    position: relative;
    padding: 0.1rem;
    border-radius: 20px;
}

.sign .sign1:hover{
    transform: scale(1.1);
    background-color: #4D4C7D;
    color: white;
}
   
