*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.membership{
    font-size: 0.8rem;
    margin-top: 4rem;
}

.membership input{
    border: 2px solid lightgrey;
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    margin-left:  2vw;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.membership-name{
    margin-right: 6vw;
}

.membership-name .sideIcon{
    font-size: 27px;
    color: lightgrey;

    margin-left: 31rem;
    position: relative;
    bottom: 3.2rem;
}

