*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.profileImage{
	font-size: 120px;
    color: grey;
    padding: 1rem  0 0 7rem;

}
.detailSection{
	display: flex;
	flex-direction: column;
	margin: 40px 0 0  20px;
	font-size: 14px;
}

.name{
	margin-bottom: 10px;
}

.name input{
	margin-left: 6rem;
	width: 22rem;
	height: 2rem;
	padding: 1rem;
	border: 2px solid lightgrey;
	border-radius: 0.25rem;
}
.role i{
	margin-left: 30.5rem;
	font-size: 27px;
	color: lightgrey;
	position: absolute;
	top: 18.5rem;
}
.exp input{
	margin-left: 5rem;
	width: 9rem;
	height: 2rem;
	padding: 0 0 0 0.5rem;
	border: 2px solid lightgrey;
	border-radius: 0.25rem;
	margin-top: -4rem;
}

.role{
	margin-bottom: 12px;
}

.exp span{
	color: grey;
}

.element-role{
	border: 2px solid lightgrey;
	width: 7rem;
	height: 2.5rem;
	border-radius: 25px;
	padding: 1rem 0 1rem 1rem;
	font-size: 0.8rem;
	margin-right: 0.3rem;
	margin-bottom: 0.25rem;
}

.role-fields{
	margin-top: -1.2rem;
	margin-left: 8.5rem;
}






