*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.profileImage{
	font-size: 120px;
    color: grey;
    padding: 1rem  0 0 7rem;

}
.detailSection{
	display: flex;
	flex-direction: column;
	margin: 40px 0 0  20px;
	font-size: 14px;
}

.name{
	margin-bottom: 10px;
}

.name input{
	margin-left: 6rem;
	width: 22rem;
	height: 2rem;
	padding: 1rem;
	border: 2px solid lightgrey;
	border-radius: 0.25rem;
}
.role i{
	margin-left: 30.5rem;
	font-size: 27px;
	color: lightgrey;
	position: absolute;
	top: 18.5rem;
}
.exp input{
	margin-left: 5rem;
	width: 9rem;
	height: 2rem;
	padding: 0 0 0 0.5rem;
	border: 2px solid lightgrey;
	border-radius: 0.25rem;
	margin-top: -4rem;
}

.role{
	margin-bottom: 12px;
	margin-left: 0.1rem;
}

.exp span{
	color: grey;
}

.element-role{
	border: 2px solid lightgrey;
	width: 7rem;
	height: 2.5rem;
	border-radius: 25px;
	padding: 1rem 0 1rem 1rem;
	font-size: 0.8rem;
	margin-right: 0.3rem;
	margin-bottom: 0.25rem;
}

.role-fields{
	margin-top: -1.2rem;
	margin-left: 8rem;
}

.msl-vars {
    --menu-max-height: 400px;
    --input-width: 300px;
    --font-size: 16px;
    --border-radius: 8px 8px 8px 8px;
    /* --active-menu-shadow: 43px 1px 5px 0px grey; */
    --line-height: 1.4;
    --active-menu-background: #fff;
    --active-menu-radius: var(--border-radius);
}

.msl:not(.msl-active,.msl-active-up) {
    border-width: 2px;
    border-color: lightgrey;
}

.insert-image-input {
	display: none;
}

.profileImage {
	border-radius: 50%;
}

.insert-image{
	background-color: blue;
    width: 300px;
    margin-left: 6rem;
    margin-top: 2rem
}

.resumeImage {
	width: 200px;
	height: 200px;
}