.sidebar{
  width: 20%;
  height: 100vh;
  background-color: whitesmoke;
}

.sidebarHeader{
	font-size: 2.5rem;
	padding: 0 0 0 1.5rem;
}

.title{
	font-size: 1.8rem;
	padding-left: 1rem;
	color: #6c6767;
}

.title1{
	font-size: 1.8rem;
	padding-left: 5rem;
	padding-bottom: 1.5rem;
	color: #6c6767;
	line-height: 1rem;
}

.barSection{
	display: flex;
	justify-content: space-around;
	margin: 0 0 1.5rem 0.5rem;	
}

.icons{
	border: 2px solid transparent;
	border-radius: 50%;
	background-color: lightgrey;
	width: 30px;
	height: 30px;
	padding-left: 0.25rem;
}
.dots{
	font-size: 1.5rem;
	color: lightgrey;
	margin-top: -0.5rem;
}
.sidebar-links a{
  text-decoration: none;
  color:black;
}
.sidelinks-p{
  height: 50%;
  width: 100%;
  margin-bottom: 1rem;
}
.sidebar-links{
  width: 230px;
  height: 40px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  background-color: lightgrey;
  padding: 0.5rem 0 0.5rem 1rem;
}

.table-sidebar{
  font-size: 12px;
}

.sidebar-links i{
	padding-right: 1rem;
}

.status{
	padding: 0 1rem 0 1rem;
}
