.template{
	width: 40%;
	border-left: 2px solid lightgrey;
	position: absolute;
	right: 0;
}


.row{
	box-sizing: border-box;
	padding: 3rem 0 0 0.5rem;
}

.column {
  float: left;
  width: 50%;
  padding-bottom: 6rem;
}

.column1{
	float: left;
    width: 100%;
    padding-right: 18rem;
    padding-bottom: 4rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h2{
	font-weight: 700;
	color: blue;
	font-size: 1.6rem;
}

.template h6{
	font-size: 11px;
	color: blue;
	font-weight: 700;
	margin: 0;
	border-bottom: 2px solid blue;	
	padding-bottom: 0.25rem;	
} 

.header h5{
	font-size: 11px;
	color: black;
	margin: 0;
}

.header{
	padding: 0 0 0 8rem;  
}

.header i{
	font-size: 40px;
	border: 2px solid lightgrey;
	padding: 1rem 1.5rem 1.5rem 1.5rem;
	border-radius: 50%;
	background-color: lightgrey;
	position: relative;
	top: 3rem;
	right: 7rem;

}


