@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-weight: 400;
    font-family: 'open-sans';
    color: grey; */
}



.UserHome{
    margin: 1rem 2rem 1rem 2rem;
    font-weight: 400;
    font-family: 'open-sans';
    color: grey;
}

.homeMenu{
    margin-top: -5rem;
    float: right;
    display: flex;
    flex-direction: row;
}
.homeMenu h6{
    margin-top: 0.5rem;
}

.homeNav{
    display: flex;
    flex-direction: row;
}

.homeNav h4{
    margin-top: -0.5rem;
}

.homeMenu img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 1.1rem;
}

.search{
    margin-left: 15rem;
    border: 2px solid transparent;
    background-color: rgb(238, 236, 236);
    width: 20rem;
    height: 2.5rem;
    border-radius: 25px;
    padding: 1rem;
}

.endMenu{
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

.searchIcon{
    position: relative;
    left: -2rem;
    top: 0.4rem;
}

.homeSection{
    border-top: 2px solid lightgrey;
    margin: 0rem 0rem 1rem 0;
}
.newResume{
    margin: 3rem 1rem;
    border: 2px solid lightgrey;
    width: 9rem;
    height: 7.5rem;
    padding: 1rem 0 0rem 1rem;
}

.section{
    text-decoration: none;
}
.section i{
    margin-left: 2.5rem;
    color: lightgrey;
}

.section h5{
    color: black;
    margin-top: 0.8rem;
    text-decoration: none;
    margin-left: 0.5rem;
}

.section1{
    margin: 2rem 0 2.5rem 0;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}
/* .system{
    margin-left: -8rem;
    margin-right: 8rem;
} */

 .homeSection h3{
    margin-left: 1rem;
    
} 

.section1 .card{
    border: 2px solid lightgrey;
    width: 18rem;
    height: 13rem;
    margin: 3rem 1rem 0 0;
    margin-left: 0.6rem;
    padding: 0.2rem 0.3rem;
    background-color: rgb(238, 236, 236);
    border-radius: 0.5rem;
    box-shadow: 4px 4px #888888;
}
.section1 .card img{
    width: 30px;
    height: 30px;
    margin-bottom: -0.5rem;
}
.section1 .card p{
    font-size: 0.5rem;
    margin-top: -0.5rem;
}

.section1 .card .cardUppr{
    border: 1px solid rgb(241, 236, 236);
    background-color: white;
    padding-bottom: -4rem;
    overflow-x: hidden;
	overflow-y: scroll;
    padding-left: 0.5rem;
    color: black;
    font-size: 0.6rem;
}

.section1 .cardUppr .userName{
    margin-top: 1rem;    
}
.section1 .cardUppr .userDes{
    margin-top: -0.4rem;    
}

.section1 .cardLower{

    margin-left: 0.7rem;
    margin-top: -2.5rem;
}
.section1 .cardLower h4{
    margin-top: 1rem;
    font-size: 1.4rem;
    color: black;
}
.section1 .cardLower h6{
    margin-bottom: -1.5rem;
    font-size: 0.8rem;
}

.section1 .cardLower h5{
    border: 1px solid transparent;
    font-size: 0.6rem;
    background-color: #e03661;
    color: #0e0000;
    width: 3rem;
    height: 1rem;
    border-radius: 25px;
    padding-left: 0.7rem;
    padding-top: 0.1rem;
    margin-top: 3rem;
    margin-bottom: -0.5rem;
}

.homeNav img{
    width: 60px;
    height: 60px;
    margin-right: 2rem;
    margin-top: -0.8rem;
}


.section1 .dropbtn {
    color: #0e0000;
    font-size: 35px;
    margin-top: 2rem;
    margin-bottom: -1rem;
    width: 2rem;
    height: 1rem;
    background-color: transparent;
    border: none;
}
  
.section1 .dpdown {
    position: relative;
    display: inline-block;
    left: 15rem;
    width: 30px;
    height: 30px;
    bottom: 6rem;
    background-color: none;
}
  
.section1 .dropdown-content {
    display: none;
    position: absolute;

    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.section1 .dropdown-content span {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.section1 .dropdown-content span:hover{
    background-color: grey;
    cursor: pointer;
    transform: scale(0.9);
}
  
.section1 .dropdown-content a:hover {background-color: #ddd;}
  
.section1 .dpdown:hover .dropdown-content {display: block;}

.sign-out{
    border-color: transparent;
    background-color:#92bff0;
    color: rgb(80, 75, 75);
    margin-top: -0.5rem;
    font-size: 0.8rem;
    padding: 0.1rem;
    border-radius: 20px;
}

.sign-out:hover{
    transform: scale(1.1);
    background-color: #79001e;
    color: white;
}
